body {
  background-color: rgb(84, 114, 148);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238 , 239 , 240);
  color: rgb(37, 37, 37);
  position: relative;
  border-radius: 30px;
  padding: 5%;
}

legend{
margin-top: 20px;
}